$primary-color: red;

// 头部导航高度
$top-navHeight: 80px;
// 头部导航颜色
$top-background: #51749b;

// 左侧菜单宽度
$left-menuWidth: 220px;

// 标准字体大小
$primary-font: 16px;

// 标题字体大小
$title-font: 18px;

// 通用字体颜色架构
$jg-fontColor: #fff;

// 左侧导航颜色值